<div class="row py-4">
    <div class="col"><h1>Serviços em Andamento</h1></div>
    <div class="col text-center align-middle">
        <a href="/new"><input type="button" value="Novo Serviço" class="btn btn-success"></a>
    </div>
</div>
{{#each clientes}}

<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                CLIENTE: {{this.cliente}}
            </div>
            <div class="col">
                CARRO: {{this.carro}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                VALOR: {{this.valor}} reais
            </div>
            <div class="col">
                ENTRADA: {{this.date}}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                PAGO: {{this.pago}}
            </div>
            <div class="col">
                FORMA DE PAGAMENTO: {{this.pagform}}
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row pl-2 btn-group">
          
                <a href="/delete/{{id}}"><input type="button" value="Encerrar" class="btn btn-danger"></a>
          
          
                <a href="/update/{{id}}"><input type="button" value="Atualizar" class="btn btn-info"></a>
       
        </div>
    </div>
</div>

{{/each}}